<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<style >


  h1 { font-family: Pacifico; }
</style>
  <title></title>
</head>
<body>

</body>
</html>



<h1> The <%= @noun_1 %> and the <%= @noun_2 %> both <%= @verb_1 %> into the <%= @adjective_1 %> <%= @noun_3 %></h1>
