 <style>
 div.box { background-color: red; height: <%=@height%>px; width: <%= @width %>px;
 }
</style>

<div class="box"></div>
 <h1>Length =<%=@length%></h1>
<h1> Width = <%= @width %></h1>
<h1> Height =  <%= @height %></h1>


<h1>Volume = <%= @volume %></h1>
